@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

:root {
  --color-input-background: #F8F8FC;
  --color-line-in-white: #E6E6F0;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-text-base: #6A6180;
  --color-advantages-section: #363d45;
  --color-advantages-section2: #1a272e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
  width: 100%;
  overflow-x: hidden;
  font-family: Poppins;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

header .bg-image {
  background-image: url('/src/img/robert-bye-tG36rvCeqng-unsplash.jpg');
  min-height: 550px;

  background-position:  bottom 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title img {
  height: 150px;
  width: 150px;
  margin-left: 100px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-right: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; 
    margin-right: 20px; 
    margin-top: 20px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -1px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-right: 20px;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  header .bg-image {
    background-image: url('/src/img/robert-bye-tG36rvCeqng-unsplash.jpg');
    min-height: 250px;
  
    background-position: bottom 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
  }
}

/*=============== 
MAIN
==================*/

main {
}

main h1{
  text-align: center;
  font-size: 40px;
  line-height: 35px;
}

/* Advantages Content */
.our-advantages-section {
  height: 400px;
  width: '100%';
  background-color: var(--color-advantages-section2);
  background: linear-gradient(329.54deg, var(--color-advantages-section) 0%,var(--color-advantages-section2) 100%);
  margin-bottom: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-advantages-section #advantages-content h2{
  font-family: Poppins;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.our-advantages-section #advantages-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 30px;
}

.our-advantages-section #advantages-global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-advantages-section #advantages-global h4 {
  font-family: Poppins;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.our-advantages-section #advantages-global p {
  font-family: Poppins;
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: initial;
}

@media screen and (max-width: 600px) {
  .our-advantages-section {
    height: 800px;
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-advantages-section #advantages-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .our-advantages-section #advantages-content h2{
    font-size: 25px;
  }
  .our-advantages-section #advantages-global h4 {
    font-size: 16px;
  }
  .our-advantages-section #advantages-global p {
    text-align: center;
    font-size: 14px;
  }
}
/* New Cards */
.title {
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

.moderns-cards-container {
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.moderns-cards-container .cards-content {
  width: 330px;
  height: 430px;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.moderns-cards-container .cards-content:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.moderns-cards-container .cards-content img {
  width: 330px;
  height: 220px;
}

.moderns-cards-container .cards-content h4 {
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}
.moderns-cards-container .cards-content p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
}

.moderns-cards-container .cards-content a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

/* Consert yout bike */
.consert-your-bike {
  background-image: url('/src/img/consert-bike.jpg');
  min-height: 300px;

  background-position:  center ;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.consert-your-bike #consert-content {
  box-shadow: 0px 100px 100px 100px rgba(0, 0, 0, 0.15), 
    0px 50px 50px 50px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.consert-your-bike #consert-content h2 {
  font-family: Poppins;
  font-size: 35px;
  text-align: center;
}
.consert-your-bike #consert-content p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
}
.consert-your-bike #consert-content a {
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  font-size: 17px;
  border-radius: 10px;
  margin-top: 15px;
  background-color:  var(--color-secundary-dark);
  transition: 0.2s background;
}
.consert-your-bike #consert-content a:hover {
  background-color: var(--color-secundary);
}

/*=============== 
FORM
==================*/
@media screen and (max-width: 600px){
  .moderns-cards-container {
    flex-direction: column;
    height: 1300px;
  }
  .consert-your-bike #consert-content h2 {
    font-size: 28px;
  }
  .consert-your-bike #consert-content p {
    font-size: 18px;
  }
  .consert-your-bike #consert-content a {
    font-size: 14px;
  }

  section#contact {
    background: linear-gradient(329.54deg, #AAEBB7 0%,#F0F0F7 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }  

  section#contact .form-container-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  section#contact .form-container-app form {
    height: 42rem;
  }

  section#contact .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section#contact .input-block input,
  section#contact .input-block textarea {
    width: 100%;
    border-radius: 20px;
    outline: 0;
    font: 1rem Poppins;
    color: var(--color-text-base);
  }

  section#contact .input-block input {
    height: 50%;
    width: 95%;
    outline: 0;
    padding: 0 16px;
    font-size: 12px;
  }

  section#contact .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 20px;
    margin-top: 2%;
    font-size: 13px;
  }

  section#contact .input-block label {
    display: flex;
    color: #000;
    margin-bottom: 8px;
    justify-content: space-between;
    margin-top: 3%;
    font: 0.9rem Poppins;
    margin-top: 20px;
  }

  section#contact input[type=submit] {
    width: 70px;
    height: 2rem;
    font: 500 0.9rem Archivo;
  }

  section.map-container-app iframe{
    height: 200px;
    width: '50%';
  }
}

@media screen and (max-width: 950px){

}

#contact {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(329.54deg, #AAEBB7 0%,#F0F0F7 100%);
}

#contact .form-container-app form {  
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
    0px 10px 20px -10px rgba(0, 0, 0, 0.1);

  width: 80%;
  max-width: 980px;
  height: 28rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 1rem 1.6rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#contact h3 {
  margin-bottom: 10px;
  color: #6DAF7C;
  text-align: center;
  font: 1.6rem Poppins;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .form-group a{
  text-decoration: none;
  background: #B9EDC6;
  padding: 14px;
  border-radius: 10px;
  color: #000;
  margin-top: 10px;
  transition: 0.2s background;
}
#contact .form-group a:hover{
  background: #6DAF7C;
}

#contact  #message {
  margin-top: 20px;
}

#contact .input-block label {
  display: flex;
  color: #000;
  margin-bottom: 8px;
  line-height: 20px;  
  justify-content: space-between;
  margin-top: 3%;
  font: 1rem Poppins;
}

#contact .input-block label span {
  font-size: 14px;
  margin-left: 24px;
  line-height: 24px;
}

#contact .input-block input,
#contact .input-block textarea {
  width: 100%;
  border-radius: 20px;
  outline: 0;
  font: 1rem Poppins;
  color: var(--color-text-base);
}

#contact .input-block input {
  height: 60%;
  width: 95%;
  outline: 0;
  padding: 0 16px;
  font-size: 13px;
}

#contact .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 20px;
  margin-top: 2%;
  font-size: 13px;
}

input[type=submit] {
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  width: 100px;
  height: 2.5rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font: 500 1rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 1.2rem;
}

footer {
  background-color: #2c2c2c;
  width: 100%;
}

footer h1{
  text-align: center;
}