@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

:root {
  --color-input-background: #F8F8FC;
  --color-line-in-white: #E6E6F0;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-text-base: #6A6180;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

header .bg-image {
  background-image: url('/src/img/robert-bye-tG36rvCeqng-unsplash.jpg');
  min-height: 550px;

  background-position:  bottom 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title img {
  height: 150px;
  width: 150px;
  margin-left: 100px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-right: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; 
    margin-right: 20px; 
    margin-top: 20px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -1px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-right: 20px;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  header .bg-image {
    background-image: url('/src/img/robert-bye-tG36rvCeqng-unsplash.jpg');
    min-height: 250px;
  
    background-position: bottom 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
  }
}

/*=============== 
MAIN
==================*/

main {
  background-color:#252525;
  margin-bottom: 0;
}

main h1{
  text-align: center;
  font-size: 40px;
  line-height: 140px;
}

/*=============== 
CARDS
==================*/


.cards
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.cards .card
{
    position: relative;
    max-width: 300px;
    height: 200px;
    background: rgb(52, 96, 138);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.cards .card:hover
{
    height: 350px;
}
.cards .card .img
{

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    background-color:rgb(52, 96, 138);
}

.cards .card .img .tittle{
    align-items: center;
    justify-content: center;
}

.cards .card .img img
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}
.cards .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0,3s ease-in-out;
}
.cards .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/*=============== 
FORM
==================*/
@media screen and (max-width: 600px){
  section#contact {
    background: linear-gradient(329.54deg, #AAEBB7 0%,#F0F0F7 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }  

  section#contact .form-container-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  section#contact .form-container-app form {
    height: 42rem;
  }

  section#contact .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section#contact .input-block input,
  section#contact .input-block textarea {
    width: 100%;
    border-radius: 20px;
    outline: 0;
    font: 1rem Poppins;
    color: var(--color-text-base);
  }

  section#contact .input-block input {
    height: 50%;
    width: 95%;
    outline: 0;
    padding: 0 16px;
    font-size: 12px;
  }

  section#contact .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 20px;
    margin-top: 2%;
    font-size: 13px;
  }

  section#contact .input-block label {
    display: flex;
    color: #000;
    margin-bottom: 8px;
    justify-content: space-between;
    margin-top: 3%;
    font: 0.9rem Poppins;
    margin-top: 20px;
  }

  section#contact input[type=submit] {
    width: 70px;
    height: 2rem;
    font: 500 0.9rem Archivo;
  }
}

@media screen and (max-width: 950px){

}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(329.54deg, #AAEBB7 0%,#F0F0F7 100%);
}

#contact .form-container-app form {  
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
    0px 10px 20px -10px rgba(0, 0, 0, 0.1);

  width: 80%;
  max-width: 980px;
  height: 28rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 1rem 1.6rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#contact h3 {
  margin-bottom: 10px;
  color: #6DAF7C;
  text-align: center;
  font: 1.6rem Poppins;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .form-group a{
  text-decoration: none;
  background: #B9EDC6;
  padding: 14px;
  border-radius: 10px;
  color: #000;
  margin-top: 10px;
  transition: 0.2s background;
}
#contact .form-group a:hover{
  background: #6DAF7C;
}

#contact  #message {
  margin-top: 20px;
}

#contact .input-block label {
  display: flex;
  color: #000;
  margin-bottom: 8px;
  line-height: 20px;  
  justify-content: space-between;
  margin-top: 3%;
  font: 1rem Poppins;
}

#contact .input-block label span {
  font-size: 14px;
  margin-left: 24px;
  line-height: 24px;
}

#contact .input-block input,
#contact .input-block textarea {
  width: 100%;
  border-radius: 20px;
  outline: 0;
  font: 1rem Poppins;
  color: var(--color-text-base);
}

#contact .input-block input {
  height: 60%;
  width: 95%;
  outline: 0;
  padding: 0 16px;
  font-size: 13px;
}

#contact .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 20px;
  margin-top: 2%;
  font-size: 13px;
}

input[type=submit] {
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  width: 100px;
  height: 2.5rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font: 500 1rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 1.2rem;
}

footer{
  background-color: #2c2c2c;
  width: 100%;
      }

footer h1{
  text-align: center;
}